@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&family=Fraunces:wght@400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";

@theme {
  /* Override the default sans family */
  --font-sans: "General Sans", system-ui, sans-serif;

  /* Add a display font for headings */
  --font-display: "Fraunces", system-ui, serif;
}

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6366f1; /* indigo-500 */
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8; /* indigo-400 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #f3f4f6;
}
