name: Deploy to Azure Storage Static Website

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload to Azure Storage ($web)
        run: |
          azcopy copy "dist/*" \
          "https://${{ secrets.AZURE_STORAGE_ACCOUNT }}.blob.core.windows.net/\$web?${{ secrets.AZURE_STORAGE_SAS }}" \
          --recursive=true
